@import '../utilities/fonts';
@import '../components/_breakpoints';

.nav-container {
    border-bottom: solid 2px black;
    list-style-type: none;
    // background-color: magenta;
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    flex: 1;//basis 0, shrink 1, grow 1
    text-align: center;
    padding-bottom: 1rem;
    
    #internal-container{
        // background-color: aqua;
        display: flex;
        flex-direction: row;
    };

    .social-links-container{
        display: flex;
        flex-direction: row;
        // background-color: palegreen;
    };

    h1 {
        margin: auto;
        font-size: 2.4rem;
        font-family: $titleFont;
        // background-color: orange;
    };
   
    .nav-itm {
        list-style-type: none;
        padding: 20px;
        align-self: center;
        margin: 0 15px;

        &.internal {
            a {
                list-style-type: none;
                text-decoration: none;
                font-family: $titleFont;
    
                &:hover{
                    cursor:pointer;
                };
    
                &:visited {
                    color: black;
                };
    
                &:active {
                    color: white;
                };
            };
        };
    };

    .internal{
        @include tablet {
            display: none;
        };
        
        position: relative;
        padding-bottom: 0.5%;
        font-size: 1.2rem;
       
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 60, 255));
            transition: width 0.3s ease-out;
        };

        &:hover {
            cursor: pointer;
            letter-spacing: 6px;
            font-weight: bolder;
            transition: all 0.4s ease;

            &::before {
                width: 100%;
                left: 0;
                right: auto;
            };
        };
    };
    
    // .help{

    // };

    .social{
        border: none;       
        padding: 0;
        color: black;

        .social-link {
            cursor: crosshair;
            color: rgba(0, 0, 0, 0.767);
            @include tablet {
                display: none;
            };
            
            :hover{
                transform: rotate(10deg) scale(1.1);
                color: black;
            };

            :active {
                color: white;
            };

            :visited{
                text-decoration: none;
                color: black;
            };
        };
    };
};

