@import '../utilities/fonts';

.nav-container {
    border-bottom: solid 2px black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: flex-end;
    flex: 1 1 0 ;
    text-align: center;
    padding-bottom: 1rem;
    

    h1 {
        margin: 0px 26% 0 7%;
        font-size: 2.4rem;
        font-family: $titleFont;
    };
   
    .nav-itm {
        list-style-type: none;
        padding: 20px;
        align-self: center;
        margin: 0 15px;

        &:hover{
            cursor:pointer;
        }
    }

    .internal{
        position: relative;
        padding-bottom: 0.5%;
        font-size: 1.2rem;
       
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: red;
            background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 60, 255));
            transition: width 0.3s ease-out;

        }

        &:hover {
            cursor: crosshair;
            letter-spacing: 6px;
            font-weight: bolder;
            transition: all 0.4s ease;

            &::before {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
    
       
    

    .help{
        margin-right: auto;
    }

    .social{
        border: none;       
        padding: 0;
        color: black;

        .social-link {
            cursor: crosshair;
            color: rgba(0, 0, 0, 0.767);
            
            :hover{
                transform: rotate(10deg) scale(1.1);
                color: black;
                
            }

            :visited{
                text-decoration: none;
                color: black;
            }
        }
    
    }

}

