body {
    #table-hamburger-slide-menu {
    // background-color: wheat;
    position: absolute;//remove from document flow
    z-index: 3;

    @include tablet-min-width {
        display: none;
    };
    
    ul{
        display: inline-block;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.7);
        width: 12rem;  
        padding-inline-start: 0;
        text-align: center;
        
        li {
            padding: 10% 0 10% 0;
            width: 100%;
            &:hover{
                background-color:rgb(255, 255, 255);
            };
        };
        
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            position: relative;

            &:active{
                text-decoration: underline;
            };
        };
    };

};

    .slide-in{
        transition: transform linear 0.5s;
    };

    .slide-out{
        transform: translateX(-50rem);
        transition: transform linear 0.5s;
    };
    
    @include tablet{
        .menu-btn {
            // background-color: aquamarine;
            &:hover{
                background-color: rgba(255, 255, 255, 0.4);
            };

            &:active{
                background-color: rgba(207, 207, 207, 0.8);
                transition: all linear 0.1s ;
            };
        };
        
        .menu-btn_burger {
            background: rgb(255, 255, 255);
            };
        };
        
        .menu-btn_burger::before, .menu-btn_burger::after{
            background: rgb(255, 255, 255);
        };  
    };
