#table-hamburger-slide-menu {
    // background-color: wheat;
    position: absolute;//remove from document flow
    z-index: 1;
    
    ul{
        display: inline-block;
        list-style-type: none;
        margin: 16.5rem -35rem 0 0;
        background-color: rgba(255, 255, 255, 0.7);
        width: 10rem;  
        padding-inline-start: 0;
        
        
        li {
            padding: 10% 0 10% 0;
            width: 100%;
            &:hover{
                background-color:rgb(255, 255, 255);
            };
        }
        
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            position: relative;

            &:active{
                text-decoration: underline;
            }
        };
    };

};

.slide-in{
    transform: translateX(1.5rem);
    transition: transform linear 0.5s;
};

.slide-out{
    transform: translateX(50rem);
    transition: transform linear 0.5s;
};